h1 {
    color: rgb(74,94,128);
    font-size: 3.5em;
    text-align: center;
}
h2 {
    font-size: 2em;
    background-color: rgb(120,138,171);
    color: rgb(255,255,255);
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    color: rgb(74,94,128);
    font-size: 1.5em;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 0em 0.5em 0em 0.5em;
}
h4 {
    font-family: sans-serif;
    text-transform: uppercase;
}
li{
    list-style: none
}
p {
    font-family: sans-serif;
}
