h1 {
    color: rgb(74,94,128);
    font-size: 3em;
}
h2 {
    font-size: 1.5em;
    background-color: rgb(120,138,171);
    color: rgb(255,255,255);
    padding: 1em 1em 1em 1em;
}
h3 {
    color: rgb(166,192,237);
    font-size: 1em;
    margin: 1em 2em 1.5em 0.5em;
    font-family: sans-serif;
    text-transform: uppercase;
}
h4 {
    font-family: sans-serif;
    text-transform: uppercase;
}
p {
    font-family: sans-serif;
}
