/*CSS document*/

body {
    background-color: rgb(250, 254, 255)
}

div.container {
    max-width: 60em;
    margin: auto;
}

figure {
    margin: 0;
}

.mainstory {
    margin: auto
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-family: bilo, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}

nav ul {
  padding: .5em 0;
    border-bottom: 2px solid;
    border-top: 2px solid;
}
nav ul li {
  display: inline;
  margin: 1em;
font-size: 1.25em;
}

nav ul li a:hover {
  color: rgb(211, 219, 224);
}

h2 {
    font-family: good-times, sans-serif;
    font-weight: 900;
    font-style: normal;
    margin: 0.5em 0 0;
    
}

h3 {
    font-family: bilo, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    margin: 0.5em 0 0;
    font-size: 1.25em;
}

h3:hover  {
    color: rgb(211, 219, 224);
}

p {
    font-family: bilo, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 0.25em;
    font-size: 1.15em;
}

figcaption {
    font-family: bilo, sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #000000;
    margin-bottom: 1em;
    font-size: 80%;
}

a {
    text-decoration: none;
    color: #000000;
}

footer {
  text-align: center;
  font-size: 0.8em;
  margin-top: 3em;
}

@media screen and (min-width: 60em){
    
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
        
    }

    header{
        grid-column: 1/3;  
    }
    
    main{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        grid-gap: 1em;
    }
    
    section.mainstory{
        grid-column: 1/3;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }
    
    section.mainstory figure {
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
    }
    
    section.mainstory figure div {
        flex: 1 0 18em;
        background-image: url(upcycled-fish.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    section.mainstory figure img {
        height: 100%;
        opacity: 0;
    }
    
    section.mainstory figure figcaption {
        flex: 0 0 3em;
    }
    
    aside{
        grid-column: 2/3
    }
    
    footer{
        grid-column: 1/3;  
    }