/*CSS DOCUMENT*/

@font-face{
    Font-family:Calligraphy;
    src: url(Staples_Calligraphy.ttf);
}

div.container {
    max-width: 50em;
    margin: auto;
}

header{
    background-color: #e83d1f;
    padding: 1em;
    grid-column: 1/5;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
}

h1{
    font-family: Calligraphy;
    font-size: 4em;
    color: #ffffff;
    text-align: center;
}

h2{
    font-family: sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

h3{
    font-family: Calligraphy;
    font-size: 2.5em;
    color: #e83d1f;
    margin-bottom: .25em;
}

h6{
    font-family: sans-serif;
    font-size: .75em;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

figure{
    display: grid;
    grid-template-columns: 70% auto;
}

figcaption{
    font-family: sans-serif;
    font-size: .75em;
    font-style: italic;
    text-align: center;
}

.ingredients li{
    font-family: sans-serif;
    list-style: none;
}

.directions li{
    font-family: sans-serif;
}

footer{
    background-color: #e83d1f;
    padding: .15em;
    grid-column: 1/5;
}

img {
    width: 100%; /*Please leave this line.*/    
}
