@font-face{
    Font-family:Youtube;
    src: url(Youtube-Star.ttf);
}

header{
    background-color: #000000;
}

nav ul{
    background-color: #ef632f;
    padding: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-align: center;
}

nav ul li{
    display: inline;
    list-style-type: none;
    font-family: Youtube;
    text-transform: uppercase;
    padding: 2em;

}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    
}

h1{
    font-size: 7em;
    text-align: center;
}

h2{
    font-family: Youtube;
    color: #ef632f;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

h3{
    font-family: sans-serif;
    color: #ef632f;
    margin-bottom: .25em;
}

h4{
    font-family: Youtube;
    color: #ef632f;
    font-size: 1em;
    text-transform: uppercase;
}

ul li h4 a{
    font-family: Youtube;
    color: #ef632f;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
}

figcaption{
    font-size: 1em;
    font-style: italic;
    text-align: center;
}

img {
    width: 100%;
}

@media screen and (min-width: 40em){
    div.menu{
        display: grid;
        grid-template-columns: repeat (3, 1fr);
        grid-template-rows: 10% auto 5%;
    }
    div.fastfood{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    div.diningfood{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    div.others{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    
    .top{
        grid-column: 1/4;
        grid-row: 1/2;
        text-align: center;
    }
    
    .bottom{
        grid-column: 1/4;
        grid-row: 3/4;
        text-align: center;
    }
    
    div.about{
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 45% auto 45%;    
    }
    
    .founder{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    div.information{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    div.faq{
        grid-column: 1/3;
        grid-row: 3/4;
    }

}
