/*CSS DOCUMENT*/

@font-face{
    Font-family:Calligraphy;
    src: url(Staples_Calligraphy.ttf);
}

header{
    background-color: #e83d1f;
    padding: 1em;
}

h1{
    font-family: Calligraphy;
    font-size: 4em;
    color: #ffffff;
    text-align: center;
}

h2{
    font-family: sans-serif;
    font-size: 1.5em;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

h3{
    font-family: Calligraphy;
    font-size: 2.5em;
    color: #e83d1f;
}

h6{
    font-family: sans-serif;
    font-size: .75em;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

figcaption{
    font-family: sans-serif;
    font-size: .75em;
    font-style: italic;
    text-align: center;
}

.ingredients li{
    font-family: sans-serif;
    list-style: none;
}

.directions li{
    font-family: sans-serif;
}

footer{
    background-color: #e83d1f;
}

img {
    width: 100%; /*Please leave this line.*/
}
